<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h4>
    ui库
  </h4>
  <div class="components">
    <form [formGroup]="formModule">
      <label >
        <input type="radio" formControlName="radioB" value="radio_v" (change)="radioChangeHandle($event)">
        nativeRadio_v
      </label>
      <label >
        <input type="radio"  formControlName="radioB" value="radio_x" (change)="radioChangeHandle($event)">
        nativeRadio_x
      </label>
      <br>
      <em-rate [em-max]="5" [value]="2" [readonly]="false" (emChange)="inputChange()" ></em-rate>
    </form>
  </div>
</div>
