<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h4>
    ui库
  </h4>
  <div class="components">
    <em-button (emClick)="clickHandle()" class="" [disabled]="isDisabledButton"  >默认按钮</em-button>
    <form [formGroup]="formModule">
      <div class="container " style="text-align: center; padding: 20px">
        <em-input type=""  formControlName="text"  (emClick)="inputClickHandle($event)" (emChange)="valueChange($event)" placeholder="请输入" ></em-input>
      </div>
    </form>

    <em-input type="" name ="text2"    [(ngModel)]="ngmodel.text" (emChange)="valueChange($event)" placeholder="请输入" ></em-input>


    <div>
      <em-textarea (emChange)="textareaChange()" name="ddasd" [(ngModel)]="ngmodel.textNative"></em-textarea>
      <br>
      <label >

        <em-checkbox></em-checkbox>

      </label>


    </div>

  </div>
</div>
