
/*日历弹出边框*/
$data-calendar-border:1px solid #dfe4ed;

/*日历弹出边框倒角*/
$data-calendar-border-radius:5px;

/*删除按钮颜色*/
$calendar-delete-icon-color:#A1A2A3;
/*删除按钮位移距离*/
$calendar-delete-icon-position:-6px;


/*整体日期选择器 z-index */
$data-calendar-zIndex:1000;

$data-calendar-popIndex:$data-calendar-zIndex - 1;
