/**
  input scss 变量声明
*/


/* 输入框 父元素宽度*/
$input-shell-width:140px;

/* 输入框默认高度 */
$input-height-normal:36px;
/* 输入框默认边框 */
$input-border-normal:1px solid #d8dce5;

/*输入框disabled 状态背景颜色*/
$input-disabled_background-color:#f5f7fa;
