@import "input.var";


.em-input-shell{
  width: $input-shell-width;
  display: inline-block;
  font-size: 14px;
  box-sizing: border-box;
  position: relative;
  &:disabled{
    user-select: none;
    color: #d8dce5;
  }

  .em-input{
    width: 100%;
    font-size: inherit;
    color: inherit;
    border-radius: 5px;
    border: $input-border-normal;
    height: $input-height-normal;
    padding: 0 8px;
    margin:0;
    outline: none;
    box-sizing: border-box;
    &:disabled{
      background-color: $input-disabled_background-color;
      cursor: not-allowed;
      user-select: none;
    }

    &.normal:focus{
      border-color: #33a0ff;
    }
  }
  /*.el-input:focus{
    border-color: #33a0ff;
  }*/



}
