@import "radio.var";

.em-radio-shell{
  display: inline-block;
  user-select: none;
  position: relative;
  //cursor: pointer;
  box-sizing: border-box;
  line-height: 1;
  vertical-align: middle;
  .em-radio-ipt{
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
    position: absolute;
    z-index: -2;
  }
  &:hover .em-radio-delegate{
    border-color: $radio-hover-border-color;
  }
  .em-radio-delegate{
    /*box-sizing: border-box;*/
    position: relative;
    cursor: pointer;
    height: $radio-height-width;
    width: $radio-height-width;
    border: 1px solid $radio-border-color-normal;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    //pointer-events: none;
    display: inline-block;
    margin-right: 8px;
    top: 2px;
    .radio-delegate-inr{
      display: inline-block;
      height: 100%;
      width: 100%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      transform: scale(0);
      transition: transform $radio-checked-transition-duration ease-in-out;
    }
  }
  .radio-label{
    display: inline-block;

  }
  :checked + .em-radio-delegate{
    border-color:$radio-hover-border-color ;
    transition: border-color $radio-checked-transition-duration ease-in-out;
    .radio-delegate-inr{
      background-color: $radio-background-color;
      transform: scale(.65);
      transition: transform $radio-checked-transition-duration ease-in-out;
    }
  }

  :disabled + .em-radio-delegate{
    border-color: $radio-border-color-normal;
    cursor: not-allowed;
    .radio-delegate-inr{
      background-color: $radio-border-color-normal;
    }
  }

}
em-radio + *{
  margin-left: 3px;
  vertical-align: middle;
}
