@import "textarea.var";


.em-textarea-shell{
  display: inline-block;
  width: $textarea-shell-width;
  font-size: inherit;
  .em-textarea{
    font-size: inherit;
    width: 100%;
    display: block;
    resize: vertical;
    padding: 10px 8px;
    box-sizing: border-box;
    -webkit-border-radius: $textarea-border-radius;
    -moz-border-radius: $textarea-border-radius;
    border-radius: $textarea-border-radius;
    outline: 0;
    //text-align: left;
    &:focus{
      border-color: #3a8ee6;
    }
    &.res-both{
      resize: both;
    }
  }

}
