@import "textarea.var";


.em-textarea-shell{
  display: inline-block;
  width: 400px;
  .em-textarea{
    width: 100%;
    display: block;
    resize: vertical;
    min-height: 90px;
    padding: 10px 8px;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: 0;
    //text-align: left;
    &:focus{
      border-color: #3a8ee6;
    }
    &.res-both{
      resize: both;
    }
  }

}
